.common-table {
  width: 1130px;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    background-color: white;
    font-size: small;
  }
  
  .common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
    font-size: small;
  }
  
  .common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
  
  .common-table-column {
    padding: 10px 5px;

  }

  

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px; 
}

.radio_container{
  margin-top: 10px;
  margin-left: 570px;
  display: flex;
  gap:10px;
  font-size: 11px;
}

