.hotspot_container{
    display: flex;
    justify-content: center;
   
    align-items: center;
}


.hotspot_title{
    border-style: solid;
    border-color: #1E90FF;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    background-color: white;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    display: center;
   padding-top: 5px;
    
}

.row-1{
    display: flex;
    justify-content: center;
    margin-top: 3%;

}
.row-1 img{
    margin-right: 5%;
    border-radius: 20px;
    width: 28%;
}

.row-1_content{
    border-style: none;
    border-radius: 5px;
    width: 420px;
    text-align: center;
    background-color: white;
    height: 35px;
    margin-top: 2%;
}
.row-1_content2{
    margin-right: 1rem;
    margin-top: 5%;
    border-style: none;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    background-color: white;
    height: 100px;
}

.row-2{
    display: flex;
    justify-content: center;
    margin-top:3%;

}

.row-2_content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  
}

#row-2_content{

    background-color: #A0D1F7;
}

.row-2_traffic{
    background-color: white;


}

.tag{
    border-style: solid;
    border-radius: 30px;
    border-color:#1E90FF ;
    color: #1E90FF;
    background-color: white;
    width: 100px;
    margin-left: 10%;
    padding-left: 15px;
}
