.placeNum{
    border-radius: 50%;
    color: #1e90ff;
    border-style: solid;
    width: 25px;
    height: 25px;
    border-color: #1e90ff;
    margin-top: 25px;
    margin-left: 40px;
}
li:hover {
    background-color: #1e90ff;
    cursor: pointer;
  }