#mypage_background{
    margin-left: 10px;
    height: fit-content;
    margin-top:30px ;
}

.btn{
    color: #1E90FF;
    background-color: white;
    border: solid;
    border-color: #1E90FF;
    border-radius: 10px;
    border-width: 0.5px;
}

.delBtn{
    color: red;
    background-color: white;
    border: solid;
    border-color: red;
    border-radius: 10px;
    border-width: 0.5px;
   
}

.reBtn{
    color: #1E90FF;
    background-color: white;
    border: solid;
    border-color: #1E90FF;
    border-radius: 10px;
    border-width: 0.5px;
}
