.main_img{

    position: absolute;
}


.recommand_category{
    margin-top: 41%;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    color: #1E90FF;
    width: 100%;
   
}

.main_img_tag{
   text-align: center;
   position: absolute;
    margin-top:35%;
    width: 100%;
    

}

.main_img_tag span{
    border-style:solid;
    border-color: #1E90FF;
    color: #1E90FF;
    border-radius: 5em;
    margin: 5px;
    font-size: 1rem;
    background-color: white;
    padding: 0.5%;
    width: fit-content;
    height: fit-content;
}

.card-container{
    
    display: flex;
    flex-wrap: wrap; /* 요소들이 한 줄에 다 들어가지 않아도 자동으로 다음 줄로 내려감 */
    justify-content: center; /* 가운데 정렬 */
    color: black;

}


.card-container span{
    margin: 0.5rem;
    
}

.rank{
    padding-left: 30px;
}