.courseBox{
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 700px;
  height: 100px;
  margin-top: 20px;

}

.reviewBox{
    border: 1px solid lightgray;
    width: 600px;
    border-radius: 0px 20px 20px 20px;
    margin-left: 30px;
    padding: 15px;
    font-size: 12px;
}